        <!-- Sidebar -->


<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/User/UserIndex">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">SEARCH<sup>2</sup></div>
    </a>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item active">
        <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true"
           aria-controls="collapsePages">
            <i class="fas fa-fw fa-folder"></i>
            <span>Pages</span>
        </a>
        <div id="collapsePages" class="collapse show" aria-labelledby="headingPages"
             data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Site Pages:</h6>
                <a class="collapse-item active" href="/User/UserIndex">Search</a>
                <a class="collapse-item active" href="/Admin/AddUser">Create New User</a>
                <a class="collapse-item active" href="/Admin/AllSearchHistoryWithUsers">Users' History</a>
                <a class="collapse-item active" href="/Admin/AllSearchHistory">History</a>
                <a class="collapse-item active" href="/User/SearchHistory">Your History</a>
                <a class="collapse-item active" href="/Admin/GetAllUsers">Users</a>
            </div>
        </div>
    </li>

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
</ul>

