@model Entities.ViewModels.UserLoginVM
@{
    ViewData["Title"] = "Forgot My Password";
    Layout = "~/Views/Shared/HomeLayout/_Login.cshtml";
}

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/HomeRoot/fonts/icomoon/style.css">

    <link rel="stylesheet" href="~/HomeRoot/css/owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/HomeRoot/css/bootstrap.min.css">

    <!-- Style -->
    <link rel="stylesheet" href="~/HomeRoot/css/style.css">

</head>
<body>
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <a asp-controller="Home" asp-action="Index"><img src="~/HomeRoot/img/undraw_remotely_2j6y.svg" alt="Image" class="img-fluid"></a>
                </div>
                <div class="col-md-6 contents">
                    <div class="row justify-content-center">
                        <div class="col-md-8">
                            <div class="mb-4">
                                <h3>Forgot My Password</h3>
                                <p class="mb-4">Please Type Your Informations</p>
                            </div>
                            <form asp-controller="Home" asp-action="ResetPassword" method="post">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group first">
                                    <label asp-for="UserName">UserName</label>
                                    <input asp-for="UserName" class="form-control">
                                    <span asp-validation-for="UserName" class="text-danger"></span>
                                </div>
                                <div class="form-group last mb-4">
                                    <label asp-for="Password">New Password</label>
                                    <input asp-for="Password" class="form-control" type="password">
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                                <input type="submit" value="Create New Password" class="btn btn-block btn-primary">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
